body{
    background-color: rgb(65, 65, 65);
}

.navbar-brand img{
    height: 2em;
    transition: transform 0.3s;
    position: absolute;
    top: 7px;
    left: 14px;
}

.navbar-brand img:hover{
    transform: scale(1.3);
}

.navbar-brand{
    padding-left: 2em;
}


.carousel-inner .carousel-item {
    transition: -webkit-transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  }